<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<title><%=title %></title>
</head>
<body>
<input type="text" id="key" value="曾经的你"><button id="search">搜索</button>
<hr>
<ol id="list"></ol>
<hr>
<div id="page"></div>
<script src="http://apps.bdimg.com/libs/jquery/1.9.0/jquery.min.js"></script>
<script>
(function () {
    var $key = $('#key'),
        $so = $('#search'),
        $list = $('#list'),
        $page = $('#page');

    function getData(key, pn) {

        $.getJSON('/search/' + key + '/' + pn, function(data) {

            var body = '';
            data.list.forEach(function (v, i) {
                body +='<li><a target="_blank" href="download/'+ v.id +'">'+ v.name +'  '+ v.album +'  '+ v.singer +'<a></li>';
            });

            $list.html(body);
            $page.html(data.page);

        });
    }

    function search() {
        var key = $.trim($key.val());

        if(!key) {
            return;
        }

        getData(key, 1);
    }

    $so.click(function () {
        search();
    });

    $key.keyup(function(event) {
        if(event.keyCode === 13) {
            search();
        }
    });

    $page.on('click', 'a[data-option]', function () {
        var option = $(this).data('option');
        getData(option.key, option.pn);
    });

}.call(this));
</script>
</body>
</html>
