@import 'variable';
@import 'base';
@import 'icon';

.@{namespace}- {
    &btn {
        padding: 0 10px;
        border-radius: 4px;
        &:active {
            background: @color-active-bg;
        }
        &.icon {
            padding: 0;
            width: 40px;
            text-align: center;
        }
    }
    // header
    &hd {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 56px;
        color: #fff;
        background: @color-primary;
        font-size: .16rem;

        .container {
            margin-top: 10px;
            margin-bottom: 10px;
            height: 36px;
            line-height: 36px;
        }

        ::-webkit-input-placeholder {
            color: #73BB6E;
        }

        button {
            border: none;
            background: none;
            font-size: .16rem;
            color: #fff;
            white-space: nowrap;
        }
    }
    &key {
        border: none;
        display: block;
        width: 100%;
        height: 36px;
        padding: 0 10px 0 28px;
        background: @color-primary-dark;
        border-radius: 16px;
        color: #fff;
        font-size: .16rem;
        transition: width .3s;
    }
    &so {
        color: #C8E6C9;
    }

    // player
    &player {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 66;
        width: 100%;
        height: 56px;
        background: #fff;
        border-top: 1px solid @color-border;
        .container {
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }

    &pic-s {
        width: 40px;
        height: 40px;
        margin-right: @g-margin;
        border-radius: 50%;
        overflow: hidden;

    }

    &txt {

        .singer {
            color: @color-gray;
        }
    }

    &act {
        color: @color-gray;
        line-height: 40px;

    }

    // list
    &main {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        max-height: 100%;
        padding: 56px 0 55px;
        overflow-y: auto;
    }

    &list-item {
        line-height: 1.8;
        font-size: .16rem;

        .container {
            display: block;
            padding: 8px 0;
            border-bottom: 1px solid @color-border;
        }

        &:active {
            background: @color-active-bg
        }
        .sub {
            color: @color-gray;
        }
    }

}

.fade-in-left-transition {
    transition: all .4s ease;
    opacity: 1;
}

.fade-in-left-enter, .fade-in-left-leave {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
}
